.jumbotron {
    margin-bottom: 0px;
    background-image: url(../inc/img/1190613-wakuwaku_animalmarch_800.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    opacity: 0.75;
    text-shadow: black 0.3em 0.3em 0.3em;
}

/*
Stuff that hasn't worked for hr styling:
adding a class
making the tag more specific
adding !important
calling hr very rude
*/